# Lab Assignment 1 -- Fundamentals
In this lab, you will complete a series of exercises related to the lecture material on coding fundamentals and collections.

Since this is the first lab that involves coding, we will begin with an exercise related to Jupyter notebook functionality.

## Exercise 1 -- Jupyter Markdown Basics
Jupyter notebooks allows cells to be interpreted as either code or Markdown. Markdown is a lightweight formatting language. In fact, what you're reading right now is written in Markdown. The syntax is very simple and a reference for common commands can be found [here](https://www.markdownguide.org/cheat-sheet/). Use this reference guide to complete the following steps:

1. Create a cell below this one by using the insert drop down menu or by clicking on the left of this box (so the side bar turns blue) and tapping the <kbd>b</kbd> key.
2. Make the cell a Markdown cell by clicking on it and using the drop down menu above.
3. Using the reference guide, find out how to create the **smallest** heading  and use it give the cell you create a header of "Solution to Exercise 1" without the quotes.
4. Using the reference guide, figure out how to make ordered and unordered lists. Using an unordered list, list three of the things you hope to learn from this class.
5. Sometimes, we want to reference specific code or code objects in the text of Markdown. Markdown allows us to format such reference so that it appears in a gray box (e.g. `x=3`). Using the reference guide, figure out how to format code and format  x = 3, so it has a gray box around it in the cell you created.

## Exercise 2 -- Basic Variable Assignment
Complete the following steps in the cells below.
1. Generate a variable called `x_flt` and set it equal to 3.0. Print its type.
2. Generate a variable called `x_int` and set it equal to 3. Print its type.
3. Generate a variable called  `x_str` and set it equal to "3". Print its type.
4. Which of these two variables can you add together with the `+` operator? Why? Answer in the Markdown cell below.

In [ ]:
# Exercise 2 Code
# Step 1
x_flt = 3.0
print(type(x_flt))

# Step 2
x_int = 3
print(type(x_int))

# Step 3
x_str = "3"
print(type(x_str))

You can add x_flt and x_int together using the + operator because they are both numeric types (float and integer, respectively). Adding these two will result in a float. However, you cannot directly add x_str with x_flt or x_int because x_str is a string. Attempting to do so will result in a TypeError. If needed, x_str can be converted to a numeric type before performing the addition.

### Response to 2.4

## Exercise 3 -- Variable Reassignment
Complete the following steps in the cells below.
1. Assign `x` equal to `"good"`
2. Assign `y` equal to `x`
3. Reassign `x` to `"bad"`
4. Use `print` to print `y`
5. Does the print statement print "good" or a "bad"? Did changing `x` to "bad" affect anything? Why or why not? Answer in the Markdown cell below.

In [ ]:
# Exercise 3 Code
# Step 1
x = "good"

# Step 2
y = x

# Step 3
x = "bad"

# Step 4
print(y)

The print statement prints "good". Changing x to "bad" did not affect the value of y because y was assigned the value of x at the time when x was "good". Variables in Python hold references to values, so when x was reassigned to "bad", it pointed to a new value, but y still pointed to the original value "good".

### Response to 3.5

## Exercise 4 -- Basic Arithmetic
Generate the following variables with the corresponding value in the cell below:
1. `x` equal to 20
2. `y` equal to 10
3. `z1` equal to the sum of `x` and `y`
4. `z2` equal to `x` minus `y`
5. `z3` equal to `x` times `y`
6. `z4` equal to `x` divided by `y`

Answer the following question in the Markdown Cell Below

7. Use `type()` to deterimine which of these variables is a floating point number? Why is this the case?

In [ ]:
# Exercise 4 Code
x = 20
y = 10
z1 = x + y
z2 = x - y
z3 = x * y
z4 = x / y
# Checking the types
print(type(z1))  # int
print(type(z2))  # int
print(type(z3))  # int
print(type(z4))  # float

The variable z4 is a floating point number. This is the case because in Python, division using the / operator always results in a float, even if the result is mathematically an integer. Therefore, z4 is a float because it is the result of x divided by y

### Response to 4.7

## Exercise 5 -- String Formatting
Complete the following steps in the cell below:
1. Define a list called `cities` that contains the names of three cities you would like to visit.
2. Define a corresponding list called `countries` where an entry is the country of each of those three cities.
3. Using these lists and f strings, print a sentence that says what country a city is in for each city in your list
4. Now do the same thing again but use the `.format()` method instead of f strings.

In [ ]:
# Exercise 5 Code
# Step 1
cities = ["Tokyo", "Paris", "Sydney"]

# Step 2
countries = ["Japan", "France", "Australia"]

# Step 3 - Using f strings
for i in range(len(cities)):
    print(f"{cities[i]} is in {countries[i]}.")

# Step 4 - Using .format() method
for i in range(len(cities)):
    print("{} is in {}.".format(cities[i], countries[i]))

## Exercise 6 -- String Concatenation
Complete the following steps in the cell below:
1. Assign `b` to be equal to "b"
2. Assign `a` to be equal to "a"
3. Assign `n` to be equal to "n"
4. Using these variables, `+`, and `print`, print the the word "banana"

In [ ]:
# Exercise 6 Code

# Step 1
b = "b"

# Step 2
a = "a"

# Step 3
n = "n"

# Step 4
print(b + a + n + a + n + a)

## Exercise 7 -- Boolean Variable Keywords
Assign `a`, `b`,`c`, and `d`, so that every print statement below is true.


Afterwards, answer the following quesiton in the Markdown cell below:

Is the configuration of `a`, `b`,`c`, and `d` that makes both statements true unique? Why or why not? If it isn't unique, add another print statement to the list to rule out other configurations?

In [ ]:
# Exercise 7 Code
a = True
b = False
c = False
d = False

In [ ]:
# Uncomment the lines below when you have defined the variables to check your results
print(((a and b) or (c and d)) == False)
print(((a or c) and (b or d)) == False)
print(a and (not b) and (not c) and (not d))

True
True
True

In [ ]:
# Another configuration to rule out other possibilities
a = True
b = False
c = True
d = False

# Original statements
print(a and not b)
print(not c or d)

# Additional statement to restrict configuration
print(c and not d)

Is the configuration of a, b, c, and d that makes both statements true unique? Why or why not?
The configuration is not unique. For the first statement print(a and not b), a must be True and b must be False to make it True. For the second statement print(not c or d), c must be False or d must be True to make it True.

Thus, a and b are uniquely determined (a must be True and b must be False), but c and d have multiple possible configurations. For example, c can be False and d can be False, or c can be True and d can be True, and so on. To rule out other configurations, you can add another print statement such as print(c and not d).

Here is an example to further restrict the configuration: